:root{
    --background-color: #32213A;
    --text-color: #D4D6B9;
    --link-color: #EF959C;
    --hover-color: #294D4A;
}

img{
    max-width: 300px;
    height: auto;
    
}
figure{
    font-display:inherit;
    display: contents;
    justify-content: left;
}

figcaption{
    text-align:center;
}

header, main, footer{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

}

ul,li{
    text-align: left;
}

body{
    background-color: var(--background-color);
	color: var(--text-color);
	font-family: Tahoma;
	text-align: center;			
}
a{
    text-decoration: none;
    color:var(--link-color);
    
}
a:hover{
    color: var(--hover-color);
}
strong>a, li>a{
    text-decoration: underline;
    color: var(--text-color);
}
h3 > a, header > nav > a{
    padding: 10px;
    border-radius: 5px;
    border-style:solid;
    cursor: pointer;
    margin-right: 5px; /* Added margin to ensure borders don't clip */
    display: inline-block; /* Ensures the padding and borders behave correctly */
    margin-bottom: 5px;
}
footer > nav > a:visited{
    color:#5A3C68;
}
footer > nav > a:visited:hover{
    color:var(--hover-color);
}
ol{
    padding-left:30%;
    justify-content: center;
    text-align: center;
}
ol > li{
    padding-top: 10px;
}

table{
    border: 1px solid;
    padding: 5px;
    margin:5px auto;
    border-collapse: collapse;
}
th,td{
    text-align: left;
    padding:2px;
    border:1px solid
}

tr > th{
    justify-content: center;
    text-align: center;
}

section > table tr:nth-child(1) {
    background-color: var(--hover-color);
}

section > table tr:nth-child(n+3):nth-child(odd){
    background-color: #5A3C68;
}

form{
    text-align: center;
    margin: 20px auto;
}
label{
    margin-right: 5px;
    margin-bottom: 10px;
}
input{
    margin: 5px;
}

#form-name,#form-email,#form-phone{
    width: 200px;
}

fieldset{
    max-width: 500px;
    margin-left: auto;
    margin-right:auto;
}

label{
    font-size: 15px;
    font-weight: 500;
    
}
legend{
    font-size: 19px;
    font-weight: 500;
}
input[type="submit"],input[type="reset"]{
    background-color: #848667;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
input[type="submit"]:hover,input[type="reset"]:hover{
    background-color: #5A3C68;
}


/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    body{
        font-size: medium;
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    body{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: smaller;
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    body{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: small;
    }
}

/* https://coolors.co/d4d6b9-32213a-ef959c-294d4a-416165 */