img{
    max-width: 300px;
    height: auto;
    
}
figure{
    font-display:inherit;
    display: contents;
    justify-content: left;
}

figcaption{
    text-align:center;
}

body{
    background-color: rgb(63, 6, 68);
    color: rgb(165, 160, 161);
    font-family: Tahoma;
    text-align: center;

}
header, main, footer{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

}
ul,li{
    text-align: left;
}

body{
    background-color: #32213A;
	color: #D4D6B9;
	font-family: Tahoma;
				
}
a{
    text-decoration: none;
    color:#EF959C;
    
}
a:hover{
    color: #294D4A;
}
strong>a, li>a{
    text-decoration: underline;
    color: #D4D6B9;
}
h3 > a, nav > a{
    padding: 10px;
    border-radius: 5px;
    border-style:solid;
    cursor: pointer;
    margin-right: 5px; /* Added margin to ensure borders don't clip */
    display: inline-block; /* Ensures the padding and borders behave correctly */
    margin-bottom: 5px;
}


/* https://coolors.co/d4d6b9-32213a-ef959c-294d4a-416165 */