
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

:root {
    --unc-charlotte-green: #00693e; 
    --unc-charlotte-gold: #a39161;  
    --link-color: #f1e7c5; 
    --text-color-light: #ffffff;
}

header {
    background-color: var(--unc-charlotte-green);
    color: var(--text-color-light);
    padding: 1rem 0;
}

nav {
    text-align: center;
}

nav a {
    color: var(--link-color);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--unc-charlotte-gold);
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
}

h1{
    color: var(--unc-charlotte-gold)
}
h2 {
    color: var(--unc-charlotte-green);
}

button, .btn {
    background-color: var(--unc-charlotte-green);
    color: var(--text-color-light);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .btn:hover {
    background-color: var(--unc-charlotte-gold);
}


footer {
    background-color: var(--unc-charlotte-green);
    color: var(--text-color-light);
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
}


form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-weight: bold;
    color: var(--unc-charlotte-green);
}

input, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}


input[type="text"], input[type="email"], input[type="password"],
textarea {
    width: 100%; 
}

.signup-form {
    max-width: 400px;
    margin: auto;
    padding: 1rem;
}

.signup-form .btn {
    margin-top: 1.5rem;
    align-self: flex-start;
}

.signup-form p {
    text-align: center;
    margin-top: 1rem;
}

.login-form {
    max-width: 400px;
    margin: auto;
    padding: 1rem;
}

.login-form .btn {
    margin-top: 1.5rem;
    align-self: flex-start;
}

.login-form p {
    text-align: center;
    margin-top: 1rem;
}


.contact-form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contact-form .btn {
    margin-top: 1.5rem;
    align-self: flex-start;
}

.contact-form p {
    text-align: center;
    margin-top: 1rem;
}


a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--unc-charlotte-gold);
}
main section img{
    width:100%;
}