<footer>
    <nav>
        <a href = "../index.html">Home page</a> | 
        <a href = "https://github.com/j35on" target="_new">GitHub.com</a> | 
        <a href = "https://j35on.github.io" target="_new"> Github.io</a> |
        <a href="https://www.linkedin.com/in/jason-gianni/">LinkedIn</a> |
        <a href = "https://j35on.github.io/itis3135/">itis3135.io</a> |
        <a href="https://www.freecodecamp.org/j35">FreeCodeCamp</a> |
        <a href ="https://www.codecademy.com/profiles/j35on">Codecademy</a>

    </nav>
    Designed by <a href="../jgdesigns.co/">JG Designs</a> &copy; 2024, Certified in <em><a href = "https://www.freecodecamp.org/certification/j35/responsive-web-design">Responsive Web Design</a>.</em>
    
    <a href="https://validator.w3.org/check?uri=referer" id = "validation_link_html">
        <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML." />
    </a>
    
    <a href="https://jigsaw.w3.org/css-validator/check/referer" id = "validation_link_css">
        <img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS." />
    </a>
    
    <script>
        document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
    
</footer>