<footer>
    <p>useful links</p>
    <nav>
        <a href = "J35ON.GITHUB.IO/index.html">Home page</a> | 
        <a href = "https://github.com/j35on" target="_new">GitHub.com</a> | 
        <a href = "https://j35on.github.io" target="_new"> Github.io</a> |
        <a href="https://www.linkedin.com/in/jason-gianni/">LinkedIn</a> |
        <a href = "https://j35on.github.io/itis3135/">itis3135.io</a> |
        <a href="https://www.freecodecamp.org/j35">FreeCodeCamp</a> |
        <a href ="https://www.codecademy.com/profiles/j35on">Codecademy</a>

    </nav>
    Designed by Gianni Designs &copy; 2024
</footer>